pipeline/PL_CARREGA_SEMESTRAL_EXECUCIO.json
{
	"name": "PL_CARREGA_SEMESTRAL_EXECUCIO",
	"properties": {
		"description": "Esta carga se tiene que lanzar para los ficheros de ejecucion presupuestaria del primer semestre (Año actual)",
		"activities": [
			{
				"name": "STG_EXEC_PRESSUP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_PYTHON_ANUAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "STG_EXEC_PRESSUP",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Data_Any_Carrega": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "HIST_EXEC_PRESSUP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "STG_EXEC_PRESSUP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "HIST_EXEC_PRESSUP",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Any": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ODS_EXEC_PRESSUP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "STG_EXEC_PRESSUP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ODS_EXEC_PRESSUP",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Any": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ANY",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ANY",
					"value": {
						"value": "@subtractFromTime(utcnow(),0,'year','yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PL_PYTHON_ANUAL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ANY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_PYTHON_ANUAL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"any_carrega": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"ANY": {
				"type": "String"
			}
		},
		"annotations": []
	}
}