pipeline/PL_CARREGA_MENSUAL_LIA.json
{
	"name": "PL_CARREGA_MENSUAL_LIA",
	"properties": {
		"description": "Esta carga se lanza mensaulmente con el fichero del mes actual",
		"activities": [
			{
				"name": "STG_LIA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_PYTHON_MENSUAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "STG_LIA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Data_Any_Carrega": {
							"value": "@variables('ANY')",
							"type": "Expression"
						},
						"Data_Mes_Carrega": {
							"value": "@variables('MES')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ODS_LIA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "STG_LIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ODS_LIA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Any": {
							"value": "@variables('ANY')",
							"type": "Expression"
						},
						"Mes": {
							"value": "@variables('MES')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DM_LIA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ODS_LIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DM_LIA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "HIST_LIA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "STG_LIA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "HIST_LIA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Any": {
							"value": "@variables('ANY')",
							"type": "Expression"
						},
						"Mes": {
							"value": "@variables('MES')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_PYTHON_MENSUAL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ANY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_PYTHON_MENSUAL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ANY",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ANY",
					"value": {
						"value": "@subtractFromTime(utcnow(),0,'year','yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MES",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MES",
					"value": {
						"value": "@formatDateTime(utcnow(),'MM')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ANY": {
				"type": "String"
			},
			"MES": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-17T09:42:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}