pipeline/PL_CARREGA_ANUAL_PRESSUPOST.json
{
	"name": "PL_CARREGA_ANUAL_PRESSUPOST",
	"properties": {
		"activities": [
			{
				"name": "STG_PRESSUPOST",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_PYTHON_ANUAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "STG_PRESSUPOST",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Data_Any_Carrega": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "HIST_PRESSUPOST",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "STG_PRESSUPOST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "HIST_PRESSUPOST",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Any": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ODS_PRESSUPOST",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DIM_INVERSIONS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ODS_PRESSUPOST",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Any": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DM_PRESSUPOST",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ODS_PRESSUPOST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DM_PRESSUPOST",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DIM_INVERSIONS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "STG_PRESSUPOST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DIM_INVERSIONS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PL_PYTHON_ANUAL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ANY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_PYTHON_ANUAL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"any_carrega": {
							"value": "@variables('ANY')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ANY",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ANY",
					"value": {
						"value": "@subtractFromTime(utcnow(),0,'year','yyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ANY": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-17T09:42:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}