pipeline/PL_PYTHON_ANUAL.json
{
	"name": "PL_PYTHON_ANUAL",
	"properties": {
		"activities": [
			{
				"name": "SS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Detall_SP_Empresarial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/SS/',variables('any_carrega'))",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Start_App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Any_Carrega",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Host": {
							"value": "@concat(pipeline().globalParameters.AppServiceName,'.azurewebsites.net')",
							"type": "Expression"
						},
						"Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
						"Connection": "keep-alive",
						"Cache-Control": "max-age=0"
					}
				}
			},
			{
				"name": "Download",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Start_App",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/download')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "CCAA_Ministeris",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Download",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/CCAA_Ministeris')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Estado_org",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CCAA_Ministeris",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/Estado_org/',variables('any_carrega'))",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Resum_inv",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Estado_org",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/Resum_inv')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Agr_SP_Admin",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Resum_inv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/Agr_SP_Admin')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "SP_Admin",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Agr_SP_Admin",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/SP_Admin')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Agr_SP_Empresarial",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SP_Admin",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/Agr_SP_Empresarial')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Detall_SP_Empresarial",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Agr_SP_Empresarial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/Detall_SP_Empresarial')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Pressupostaria",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.AppServiceName,'.azurewebsites.net/Pressupostaria')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Any_Carrega",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "any_carrega",
					"value": "'2015'"
				}
			}
		],
		"variables": {
			"any_carrega": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PYTHONS"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-17T09:42:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}