pipeline/STG_LIA.json
{
	"name": "STG_LIA",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterLicitacions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterLicitacions').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "STG_LICITACIONS",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_STG_LICITACIONS",
									"type": "DataFlowReference",
									"datasetParameters": {
										"XLSXLicitacions": {
											"Fitxer": {
												"value": "@item().name",
												"type": "Expression"
											},
											"Tipo": "Licitaciones"
										}
									},
									"linkedServiceParameters": {
										"XLSXLicitacions": {
											"schemaLinkedService": {
												"Fitxer": {
													"value": "@item().name",
													"type": "Expression"
												},
												"Tipo": "Licitaciones"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "IntegrationRuntimeAzure",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "STG_ADJUDICACIONS",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_STG_ADJUDICACIONS",
									"type": "DataFlowReference",
									"datasetParameters": {
										"XLSXAdjudicacions": {
											"Fitxer": {
												"value": "@item().name",
												"type": "Expression"
											},
											"Tipo": "Resultados"
										}
									},
									"linkedServiceParameters": {
										"XLSXAdjudicacions": {
											"schemaLinkedService": {
												"Fitxer": {
													"value": "@item().name",
													"type": "Expression"
												},
												"Tipo": "Resultados"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "IntegrationRuntimeAzure",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "TRUNCATE_STG",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [INV_STG].[LIA_FACT_LICITACIONS]\nTRUNCATE TABLE [INV_STG].[LIA_FACT_ADJUDICACIONS]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TRUNCATE_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FITXERS_LICITACIONS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "SET_FICHEROS_LICITACIONS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FICHEROS_LICITACIONS",
					"value": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterLicitacions",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "SET_FICHEROS_LICITACIONS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FICHEROS_LICITACIONS')",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains( item().name, \n    concat('licitacionesPerfilesContratanteCompleto3_',pipeline().parameters.Data_Any_Carrega, \n    pipeline().parameters.Data_Mes_Carrega)\n            \n     )\n \n\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Data_Any_Carrega": {
				"type": "string",
				"defaultValue": "2023"
			},
			"Data_Mes_Carrega": {
				"type": "string",
				"defaultValue": "01"
			}
		},
		"variables": {
			"FICHEROS_LICITACIONS": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ÀMBIT LICITACIONS ADJUDICACIONS"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-17T09:42:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}