adf-des-inv-estat/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-des-inv-estat"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_STG_LICITACIONS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "XLSX_LIA_FACT",
								"type": "DatasetReference"
							},
							"name": "XLSXLicitacions"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "STG_LIA_FACT_LICITACIONS",
								"type": "DatasetReference"
							},
							"name": "STGLicitacions"
						}
					],
					"transformations": [
						{
							"name": "AlterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Identificador as string,",
						"          {Link licitación} as string,",
						"          {Fecha actualización} as string,",
						"          {Número de expediente} as string,",
						"          Lote as string,",
						"          {Objeto licitación/lote} as string,",
						"          {Presupuesto base con impuestos licitación/lote} as string,",
						"          {Presupuesto base sin impuestos licitación/lote} as string,",
						"          {CPV licitación/lote} as string,",
						"          {Lugar ejecución licitación/lote} as string,",
						"          {Resultado licitación/lote} as string,",
						"          {Fecha del acuerdo licitación/lote} as string,",
						"          {Número de ofertas recibidas por licitación/lote} as string,",
						"          {Precio de la oferta más baja por licitación/lote} as string,",
						"          {Precio de la oferta más alta por licitación/lote} as string,",
						"          {Se han excluído ofertas por ser anormalmente bajas por licitación/lote} as string,",
						"          {Número del contrato licitación/lote} as string,",
						"          {Fecha formalización del contrato licitación/lote} as string,",
						"          {Fecha entrada en vigor del contrato de licitación/lote} as string,",
						"          {Adjudicatario licitación/lote} as string,",
						"          {Tipo de identificador de adjudicatario por licitación/lote} as string,",
						"          {Identificador Adjudicatario de la licitación/lote} as string,",
						"          {El adjudicatario es o no PYME de la licitación/lote} as string,",
						"          {Importe adjudicación sin impuestos licitación/lote} as string,",
						"          {Importe adjudicación con impuestos licitación/lote} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> XLSXLicitacions",
						"XLSXLicitacions alterRow(upsertIf(true())) ~> AlterRow1",
						"AlterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Identificador as string,",
						"          {Link licitación} as string,",
						"          {Fecha actualización} as string,",
						"          {Vigente/Anulada/Archivada} as string,",
						"          {Primera publicación} as string,",
						"          Estado as string,",
						"          {Número de expediente} as string,",
						"          {Objeto del Contrato} as string,",
						"          {Valor estimado del contrato} as string,",
						"          {Presupuesto base sin impuestos} as string,",
						"          {Presupuesto base con impuestos} as string,",
						"          CPV as string,",
						"          {Tipo de contrato} as string,",
						"          {Lugar de ejecución} as string,",
						"          {Órgano de Contratación} as string,",
						"          {ID OC en PLACSP} as string,",
						"          {NIF OC} as string,",
						"          DIR3 as string,",
						"          {Enlace al Perfil de Contratante del OC} as string,",
						"          {Tipo de Administración} as string,",
						"          {Código Postal} as string,",
						"          {Tipo de procedimiento} as string,",
						"          {Sistema de contratación} as string,",
						"          {Tramitación} as string,",
						"          {Forma de presentación de la oferta} as string,",
						"          {Fecha de presentación de ofertas} as string,",
						"          {Fecha de presentación de solicitudes de participacion} as string,",
						"          {Directiva de aplicación} as string,",
						"          {Financiación Europea y fuente} as string,",
						"          {Descripción de la financiación europea} as string,",
						"          {Subcontratación permitida} as string,",
						"          {Subcontratación permitida porcentaje} as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['Identificador'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> STGLicitacions"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_EXEC_FACT_AGR_CCAA_SP')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DatasetReference"
							},
							"name": "STGAdmin"
						},
						{
							"dataset": {
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_SP_EMPR",
								"type": "DatasetReference"
							},
							"name": "STGEmpr"
						},
						{
							"dataset": {
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_OOAA_RE",
								"type": "DatasetReference"
							},
							"name": "STGccaRestaEntitats"
						},
						{
							"dataset": {
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_AGE",
								"type": "DatasetReference"
							},
							"name": "STGAGE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ODS_EXEC_FACT_AGR_CCAA",
								"type": "DatasetReference"
							},
							"name": "ODSSectorPublic"
						}
					],
					"transformations": [
						{
							"name": "ColumnaTipusAdmin"
						},
						{
							"name": "ColumnaTipusEmpr"
						},
						{
							"name": "Union"
						},
						{
							"name": "Tipus"
						},
						{
							"name": "ColumnaTipusRestaEntitas"
						},
						{
							"name": "ColumnaTipusAGE"
						},
						{
							"name": "select1"
						},
						{
							"name": "select2"
						},
						{
							"name": "select3"
						},
						{
							"name": "select4"
						},
						{
							"name": "select5"
						}
					],
					"scriptLines": [
						"parameters{",
						"     Any as string ('2021')",
						"}",
						"source(output(",
						"          IDCCAA as string,",
						"          {Inversió Inicial} as string,",
						"          {Inversió Real} as string,",
						"          {%} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> STGAdmin",
						"source(output(",
						"          IDCCAA as string,",
						"          {Inversió Inicial} as string,",
						"          {Inversió Real} as string,",
						"          {%} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> STGEmpr",
						"source(output(",
						"          IDCCAA as string,",
						"          {Crèdit Inicial} as string,",
						"          {Obligacions Reconegudes} as string,",
						"          {%} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> STGccaRestaEntitats",
						"source(output(",
						"          IDCCAA as string,",
						"          {Crèdit Inicial} as string,",
						"          {Obligacions Reconegudes} as string,",
						"          {%} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> STGAGE",
						"select4 derive(DESC_TIPUS_SECTOR = 'SP Administratiu',",
						"          IDCCAA = substring(IDCCAA,1,2)) ~> ColumnaTipusAdmin",
						"select2 derive(DESC_TIPUS_SECTOR = 'SP Empresarial',",
						"          IDCCAA = substring(IDCCAA,1,2)) ~> ColumnaTipusEmpr",
						"ColumnaTipusAdmin, ColumnaTipusEmpr, ColumnaTipusRestaEntitas, ColumnaTipusAGE union(byName: true)~> Union",
						"Union derive(IDCCAA = toInteger(IDCCAA),",
						"          QTY_CREDIT_INICIAL = toDecimal(QTY_CREDIT_INICIAL,15,2),",
						"          QTY_OBLIGACIONS_RECONEGUDES = toDecimal(QTY_OBLIGACIONS_RECONEGUDES,15,2),",
						"          {%} = toDecimal({%},15,2),",
						"          DATA_ANY = toInteger($Any)) ~> Tipus",
						"select1 derive(DESC_TIPUS_SECTOR = 'OOAA i resta',",
						"          IDCCAA = substring(IDCCAA,1,2)) ~> ColumnaTipusRestaEntitas",
						"select3 derive(DESC_TIPUS_SECTOR = 'AGE',",
						"          IDCCAA = substring(IDCCAA,1,2)) ~> ColumnaTipusAGE",
						"STGccaRestaEntitats select(mapColumn(",
						"          IDCCAA,",
						"          QTY_CREDIT_INICIAL = {Crèdit Inicial},",
						"          QTY_OBLIGACIONS_RECONEGUDES = {Obligacions Reconegudes},",
						"          {%}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"STGEmpr select(mapColumn(",
						"          IDCCAA,",
						"          QTY_CREDIT_INICIAL = {Inversió Inicial},",
						"          QTY_OBLIGACIONS_RECONEGUDES = {Inversió Real},",
						"          {%}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"STGAGE select(mapColumn(",
						"          IDCCAA,",
						"          QTY_CREDIT_INICIAL = {Crèdit Inicial},",
						"          QTY_OBLIGACIONS_RECONEGUDES = {Obligacions Reconegudes},",
						"          {%}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"STGAdmin select(mapColumn(",
						"          IDCCAA,",
						"          QTY_CREDIT_INICIAL = {Inversió Inicial},",
						"          QTY_OBLIGACIONS_RECONEGUDES = {Inversió Real},",
						"          {%}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select4",
						"Tipus select(mapColumn(",
						"          ID_CCAA = IDCCAA,",
						"          DESC_TIPUS_ORGANISME = DESC_TIPUS_SECTOR,",
						"          QTY_CREDIT_INICIAL,",
						"          QTY_OBLIGACIONS_RECONEGUDES,",
						"          QTY_PERCENTATGE = {%},",
						"          DATA_ANY",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select5",
						"select5 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID_CCAA as integer,",
						"          DESC_TIPUS_ORGANISME as string,",
						"          DATA_ANY as integer,",
						"          QTY_CREDIT_INICIAL as decimal(15,2),",
						"          QTY_OBLIGACIONS_RECONEGUDES as decimal(15,2),",
						"          QTY_PERCENTATGE as decimal(15,2),",
						"          DATA_CARREGA as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> ODSSectorPublic"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DIM_INVERSIONS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM_PROJECTES",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DIM_PROJECTE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGPresEstOoaaRe": {},
									"SourceDimProjectes": {},
									"STGSeguretatSocial": {},
									"Provincies": {},
									"DimProjecte": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DIM_MINISTERIS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DIM_MINISTERIS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGPresEstOoaaRe": {},
									"SourceDimMinisteris": {},
									"DimMinisteris": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "STG_DIM_UNITATS_AGE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[DIM_UNITATS_AGE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "XLSX_DIM_UNITATS_AGE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_DIM_UNITATS_AGE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS_DIM_UNITATS_AGE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "STG_DIM_UNITATS_AGE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_DIM_UNITATS_AGE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGDimUnitatsAGE": {},
									"ODSDimUnitatsAGE": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_DIM_UNITATS_AGE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ODS_DIM_UNITATS_AGE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_DM].[DIM_UNITATS_AGE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_DIM_UNITATS_AGE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DM_DIM_UNITATS_AGE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_DIM_ENTITATS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE INV_STG.DIM_ENTITATS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_DIM_ENTITATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_DIM_ENTITATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS_DIM_ENTITATS",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "STG_DIM_ENTITATS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_DIM_ENTITATS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGEntitats": {},
									"ODSEntitats": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_DIM_ENTITATS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ODS_DIM_ENTITATS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE INV_DM.DIM_ENTITATS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_DIM_ENTITATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DM_DIM_ENTITATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DIM"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DM_EXEC_PRESSUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DM_EXEC_FACT_AGR_CCAA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_EXEC_FACT_AGR_CCAA",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactAGRCCAA": {},
									"DMFactAGRCCAA": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_EXEC_FACT_DET_SECCIO_ENTITAT",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_EXEC_FACT_DET_SECCIO_ENTITAT",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactDETSeccioEntitat": {},
									"DMFactDETSeccioEntitat": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ÀMBIT EXECUCIÓ PRESSUPOSTARIA"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DM_LIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DM_LIA_FACT_LICITACIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_LIA_FACT_LICITACIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSLicitacions": {},
									"DMLicitacions": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_LIA_FACT_ADJUDICACIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_LIA_FACT_ADJUDICACIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSAdjudicacions": {},
									"DMAdjudicacions": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ÀMBIT LICITACIONS ADJUDICACIONS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DM_PRESSUPOST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DM_PRES_FACT_AGR_RESUMEN_INVERSIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_PRES_FACT_AGR_RESUMEN_INVERSIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactAGRResumInvers": {},
									"DMFactAGRResumInvers": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactAGRCCAA": {},
									"DMFactAGRCCAA": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_PRES_FACT_AGR_CCAA_SP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_PRES_FACT_AGR_CCAA_SP",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactAGRCCAA": {},
									"DMFactAGRCCAA": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_PRES_FACT_DET_SP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_PRES_FACT_DET_SP",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactDETSP": {},
									"DMFactDETSP": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DM_PRES_FACT_DET_EST_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DM_PRES_FACT_DET_EST_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ODSFactDETEstOOAARE": {},
									"DMFactDETEstOOAARE": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ÀMBIT PRESSUPOST"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HIST_EXEC_PRESSUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HIST_EXEC_FACT_DET_AGE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_DET_AGE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_DET_AGE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_DET_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_DET_OOAA_RE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_DET_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_DET_SP_ADMIN",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_DET_SP_ADMIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_DET_SP_ADMIN",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_DET_SP_EMPR",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_DET_SP_EMPR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_DET_SP_EMPR",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_AGR_CCAA_AGE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_AGR_CCAA_AGE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_AGR_CCAA_AGE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_AGR_CCAA_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_AGR_CCAA_OOAA_RE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_AGR_CCAA_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_AGR_CCAA_SP_ADMIN",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_AGR_CCAA_SP_ADMIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_EXEC_FACT_AGR_CCAA_SP_EMPR",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_EXEC_FACT_AGR_CCAA_SP_EMPR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_EXEC_FACT_AGR_CCAA_SP_EMPR",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_DET_AGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_DET_AGE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_DET_OOAA_RE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_DET_OOAA_RE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_DET_SP_ADMIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_DET_SP_ADMIN",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_DET_SP_EMPR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_DET_SP_EMPR",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_AGR_CCAA_AGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_AGR_CCAA_AGE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_AGR_CCAA_OOAA_RE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_AGR_CCAA_OOAA_RE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_AGR_CCAA_SP_EMPR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_AGR_CCAA_SP_EMPR",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_EXEC_FACT_AGR_CCAA_SP_ADMIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "EXEC_FACT_AGR_CCAA_SP_ADMIN",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string",
						"defaultValue": "2021"
					}
				},
				"folder": {
					"name": "ÀMBIT EXECUCIÓ PRESSUPOSTARIA"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HIST_LIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HIST_LIA_FACT_LICITACIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_LIA_FACT_LICITACIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_LIA_FACT_LICITACIONS",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									},
									"Mes": {
										"value": "'@{pipeline().parameters.Mes}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_LIA_FACT_ADJUDICACIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_LIA_FACT_ADJUDICACIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_LIA_FACT_ADJUDICACIONS",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									},
									"Mes": {
										"value": "'@{pipeline().parameters.Mes}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DELETE_LIA_FACT_LICITACIONS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY_MES]",
							"storedProcedureParameters": {
								"vAnyMes": {
									"value": {
										"value": "@concat(pipeline().parameters.Any,pipeline().parameters.Mes)",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "LIA_FACT_LICITACIONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_LIA_FACT_ADJUDICACIONS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY_MES]",
							"storedProcedureParameters": {
								"vAnyMes": {
									"value": {
										"value": "@concat(pipeline().parameters.Any,pipeline().parameters.Mes)",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "LIA_FACT_ADJUDICACIONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string"
					},
					"Mes": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ÀMBIT LICITACIONS ADJUDICACIONS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HIST_PRESSUPOST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "HIST_PRES_FACT_DET_EST_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_DET_EST_OOAA_RE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_DET_EST_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_PRES_FACT_AGR_RESUMEN_INVERSIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_AGR_RESUMEN_INVERSIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_AGR_RESUMEN_INVERSIONS",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_PRES_FACT_AGR_CCAA_SP_ADMIN",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_AGR_CCAA_SP_ADMIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_PRES_FACT_AGR_CCAA_SP_EMPR",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_AGR_CCAA_SP_EMPR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_AGR_CCAA_SP_EMPR",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_PRES_FACT_DET_SP_ADMIN",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_DET_SP_ADMIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_DET_SP_ADMIN",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "HIST_PRES_FACT_DET_SP_EMPR",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_PRES_FACT_DET_SP_EMPR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_DET_SP_EMPR",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_DET_EST_OOAA_RE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_DET_EST_OOAA_RE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_AGR_RESUMEN_INVERSIONS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_AGR_RESUMEN_INVERSIONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_AGR_CCAA_SP_ADMIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_AGR_CCAA_SP_ADMIN",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_AGR_CCAA_SP_EMPR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_AGR_CCAA_SP_EMPR",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_DET_SP_ADMIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_DET_SP_ADMIN",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_PRES_FACT_DET_SP_EMPR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_DET_SP_EMPR",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "HIST_PRES_FACT_DET_SEGURETAT_SOCIAL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DELETE_HIST_PRES_FACT_DET_SEGURETAT_SOCIAL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_HIST_PRES_FACT_DET_SEGURETAT_SOCIAL",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DELETE_HIST_PRES_FACT_DET_SEGURETAT_SOCIAL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DELETE_ROWS_FROM_HIST_ANY]",
							"storedProcedureParameters": {
								"vAny": {
									"value": {
										"value": "@pipeline().parameters.Any",
										"type": "Expression"
									},
									"type": "String"
								},
								"vSchemaName": {
									"value": "INV_HIST",
									"type": "String"
								},
								"vTableName": {
									"value": "PRES_FACT_DET_SEGURETAT_SOCIAL",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ÀMBIT PRESSUPOST"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_EXEC_PRESSUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ODS_EXEC_FACT_AGR_CCAA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ODS_EXEC_FACT_AGR_CCAA_SP",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGAdmin": {},
									"STGEmpr": {},
									"STGccaRestaEntitats": {},
									"STGAGE": {},
									"ODSSectorPublic": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ODS_EXEC_FACT_DET_SECCIO_ENTITAT",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_EXEC_FACT_DET_SECCIO_ENTITAT",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGSPAdmin": {},
									"STGSPEmpr": {},
									"STGAge": {},
									"STGOoaaRe": {},
									"ODSDetSeccEntitat": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string",
						"defaultValue": "2021"
					}
				},
				"folder": {
					"name": "ÀMBIT EXECUCIÓ PRESSUPOSTARIA"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ODS_EXEC_FACT_AGR_CCAA_SP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_LIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ODS_LIA_FACT_LICITACIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_LIA_FACT_LICITACIONS",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									},
									"Mes": {
										"value": "'@{pipeline().parameters.Mes}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGLicitacions": {},
									"UnitatsAGE": {},
									"ODSLicitacions": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ODS_LIA_FACT_ADJUDICACIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_LIA_FACT_ADJUDICACIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGAdjudicacions": {},
									"DMLicitacions": {},
									"ODSAdjudicacions": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string",
						"defaultValue": "2021"
					},
					"Mes": {
						"type": "string",
						"defaultValue": "01"
					}
				},
				"folder": {
					"name": "ÀMBIT LICITACIONS ADJUDICACIONS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_PRESSUPOST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ODS_PRES_FACT_AGR_RESUMEN_INVERSIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_PRES_FACT_AGR_RESUMEN_INVERSIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGResumInversions": {},
									"DimCCAA": {},
									"ODSResumInversions": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ODS_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGRestaEntitats": {},
									"DimCCAA": {},
									"ODSRestaEntitats": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ODS_PRES_FACT_AGR_CCAA_SP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_PRES_FACT_AGR_CCAA_SP",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGSPAdmin": {},
									"STGSPEmpr": {},
									"ComunitatsAutonomes": {},
									"ODSSP": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ODS_PRES_FACT_DET_SP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_PRES_FACT_DET_SP",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGSPAdmin": {},
									"STGSPEmpr": {},
									"Provincies": {},
									"ODSSP": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ODS_PRES_FACT_DET_EST_OOAA_RE",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ODS_PRES_FACT_DET_EST_OOAA_RE",
								"type": "DataFlowReference",
								"parameters": {
									"Any": {
										"value": "'@{pipeline().parameters.Any}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"STGDetRE": {},
									"STGDetSeguretatSocial": {},
									"Provincies": {},
									"ODSDetRE": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IntegrationRuntimeAzure",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string",
						"defaultValue": "2021"
					}
				},
				"folder": {
					"name": "ÀMBIT PRESSUPOST"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_LIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterLicitacions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterLicitacions').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "STG_LICITACIONS",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_STG_LICITACIONS",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"XLSXLicitacions": {
													"Fitxer": {
														"value": "@item().name",
														"type": "Expression"
													},
													"Tipo": "Licitaciones"
												},
												"STGLicitacions": {}
											},
											"linkedServiceParameters": {
												"XLSXLicitacions": {
													"schemaLinkedService": {
														"Fitxer": {
															"value": "@item().name",
															"type": "Expression"
														},
														"Tipo": "Licitaciones"
													}
												}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "IntegrationRuntimeAzure",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "STG_ADJUDICACIONS",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_STG_ADJUDICACIONS",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"XLSXAdjudicacions": {
													"Fitxer": {
														"value": "@item().name",
														"type": "Expression"
													},
													"Tipo": "Resultados"
												},
												"STGAdjudicacions": {}
											},
											"linkedServiceParameters": {
												"XLSXAdjudicacions": {
													"schemaLinkedService": {
														"Fitxer": {
															"value": "@item().name",
															"type": "Expression"
														},
														"Tipo": "Resultados"
													}
												}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "IntegrationRuntimeAzure",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "TRUNCATE_STG",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE [INV_STG].[LIA_FACT_LICITACIONS]\nTRUNCATE TABLE [INV_STG].[LIA_FACT_ADJUDICACIONS]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "TRUNCATE_STG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FITXERS_LICITACIONS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "SET_FICHEROS_LICITACIONS",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FICHEROS_LICITACIONS",
							"value": {
								"value": "@activity('Get Metadata').output.childItems",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FilterLicitacions",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "SET_FICHEROS_LICITACIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('FICHEROS_LICITACIONS')",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains( item().name, \n    concat('licitacionesPerfilesContratanteCompleto3_',pipeline().parameters.Data_Any_Carrega, \n    pipeline().parameters.Data_Mes_Carrega)\n            \n     )\n \n\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Data_Any_Carrega": {
						"type": "string",
						"defaultValue": "2023"
					},
					"Data_Mes_Carrega": {
						"type": "string",
						"defaultValue": "01"
					}
				},
				"variables": {
					"FICHEROS_LICITACIONS": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "ÀMBIT LICITACIONS ADJUDICACIONS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_STG_LICITACIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CARREGA_EXECPRESS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Any_Carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ODS_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_EXEC_PRESSUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ODS_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HIST_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_EXEC_PRESSUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HIST_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DM_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ODS_EXEC_PRESSUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DM_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ANY": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ÀMBIT EXECUCIÓ PRESSUPOSTARIA"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ODS_EXEC_PRESSUP')]",
				"[concat(variables('factoryId'), '/pipelines/HIST_EXEC_PRESSUP')]",
				"[concat(variables('factoryId'), '/pipelines/DM_EXEC_PRESSUP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CARREGA_LIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Any_Carrega": {
									"value": "@pipeline().parameters.Any",
									"type": "Expression"
								},
								"Data_Mes_Carrega": {
									"value": "@pipeline().parameters.Mes",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ODS_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_LIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ODS_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.Any",
									"type": "Expression"
								},
								"Mes": {
									"value": "@pipeline().parameters.Mes",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DM_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ODS_LIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DM_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "HIST_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_LIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HIST_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.Any",
									"type": "Expression"
								},
								"Mes": {
									"value": "@pipeline().parameters.Mes",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Any": {
						"type": "string"
					},
					"Mes": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ÀMBIT LICITACIONS ADJUDICACIONS"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/STG_LIA')]",
				"[concat(variables('factoryId'), '/pipelines/ODS_LIA')]",
				"[concat(variables('factoryId'), '/pipelines/DM_LIA')]",
				"[concat(variables('factoryId'), '/pipelines/HIST_LIA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CARREGA_PRESSUPOST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Any_Carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ODS_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DIM_INVERSIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ODS_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DM_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ODS_PRESSUPOST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DM_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "HIST_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_PRESSUPOST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HIST_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DIM_INVERSIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_PRESSUPOST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DIM_INVERSIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ANY": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ÀMBIT PRESSUPOST"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ODS_PRESSUPOST')]",
				"[concat(variables('factoryId'), '/pipelines/DM_PRESSUPOST')]",
				"[concat(variables('factoryId'), '/pipelines/HIST_PRESSUPOST')]",
				"[concat(variables('factoryId'), '/pipelines/DIM_INVERSIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARREGA_ANUAL_EXECUCIO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Esta carga se lanza para el fichero de Execució presupostaria a año vencido (El fichero total)",
				"activities": [
					{
						"name": "STG_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_PYTHON_ANUAL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Any_Carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HIST_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_EXEC_PRESSUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HIST_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ODS_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_EXEC_PRESSUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ODS_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DM_EXEC_PRESSUP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ODS_EXEC_PRESSUP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DM_EXEC_PRESSUP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PYTHON_ANUAL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PYTHON_ANUAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"any_carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ANY": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/HIST_EXEC_PRESSUP')]",
				"[concat(variables('factoryId'), '/pipelines/ODS_EXEC_PRESSUP')]",
				"[concat(variables('factoryId'), '/pipelines/DM_EXEC_PRESSUP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARREGA_ANUAL_PRESSUPOST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Esta carga se lanza de forma anual para el año en curso, (Presupuestos para el año en curso)",
				"activities": [
					{
						"name": "STG_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_PYTHON_ANUAL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Any_Carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HIST_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_PRESSUPOST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HIST_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ODS_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DIM_INVERSIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ODS_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DM_PRESSUPOST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ODS_PRESSUPOST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DM_PRESSUPOST",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DIM_INVERSIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_PRESSUPOST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DIM_INVERSIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PYTHON_ANUAL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PYTHON_ANUAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"any_carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ANY": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/HIST_PRESSUPOST')]",
				"[concat(variables('factoryId'), '/pipelines/ODS_PRESSUPOST')]",
				"[concat(variables('factoryId'), '/pipelines/DM_PRESSUPOST')]",
				"[concat(variables('factoryId'), '/pipelines/DIM_INVERSIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARREGA_MENSUAL_LIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Esta carga se lanza mensaulmente con el fichero del mes actual",
				"activities": [
					{
						"name": "STG_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_PYTHON_MENSUAL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Data_Any_Carrega": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								},
								"Data_Mes_Carrega": {
									"value": "@pipeline().parameters.MES",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ODS_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_LIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ODS_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								},
								"Mes": {
									"value": "@pipeline().parameters.MES",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DM_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ODS_LIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DM_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "HIST_LIA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "STG_LIA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HIST_LIA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Any": {
									"value": "@pipeline().parameters.ANY",
									"type": "Expression"
								},
								"Mes": {
									"value": "@pipeline().parameters.MES",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_PYTHON_MENSUAL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PYTHON_MENSUAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ANY": {
						"type": "string"
					},
					"MES": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/STG_LIA')]",
				"[concat(variables('factoryId'), '/pipelines/ODS_LIA')]",
				"[concat(variables('factoryId'), '/pipelines/DM_LIA')]",
				"[concat(variables('factoryId'), '/pipelines/HIST_LIA')]"
			]
		}
	]
}