adf-des-inv-estat/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-des-inv-estat"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/STG_EXEC_FACT_DET_OOAA_RE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Codi Secció",
						"type": "nvarchar"
					},
					{
						"name": "Denominació",
						"type": "nvarchar"
					},
					{
						"name": "Crèdit Inicial",
						"type": "nvarchar"
					},
					{
						"name": "Obligacions Reconegudes",
						"type": "nvarchar"
					},
					{
						"name": "%",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "EXEC_FACT_DET_OOAA_RE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_EXEC_FACT_DET_SP_ADMIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Entitat",
						"type": "nvarchar"
					},
					{
						"name": "Inversio Inicial",
						"type": "nvarchar"
					},
					{
						"name": "Inversio Real",
						"type": "nvarchar"
					},
					{
						"name": "%",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "EXEC_FACT_DET_SP_ADMIN"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_EXEC_FACT_DET_SP_EMPR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Entitat",
						"type": "nvarchar"
					},
					{
						"name": "Inversió Inicial",
						"type": "nvarchar"
					},
					{
						"name": "Inversió Real",
						"type": "nvarchar"
					},
					{
						"name": "%",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "EXEC_FACT_DET_SP_EMPR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_LIA_FACT_ADJUDICACIONS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Identificador",
						"type": "nvarchar"
					},
					{
						"name": "Link licitación",
						"type": "nvarchar"
					},
					{
						"name": "Fecha actualización",
						"type": "nvarchar"
					},
					{
						"name": "Número de expediente",
						"type": "nvarchar"
					},
					{
						"name": "Lote",
						"type": "nvarchar"
					},
					{
						"name": "Objeto licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Presupuesto base con impuestos licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Presupuesto base sin impuestos licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "CPV licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Lugar ejecución licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Resultado licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Fecha del acuerdo licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Número de ofertas recibidas por licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Precio de la oferta más baja por licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Precio de la oferta más alta por licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Se han excluído ofertas por ser anormalmente bajas por licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Número del contrato licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Fecha formalización del contrato licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Fecha entrada en vigor del contrato de licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Adjudicatario licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Tipo de identificador de adjudicatario por licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Identificador Adjudicatario de la licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "El adjudicatario es o no PYME de la licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Importe adjudicación sin impuestos licitación/lote",
						"type": "nvarchar"
					},
					{
						"name": "Importe adjudicación con impuestos licitación/lote",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "LIA_FACT_ADJUDICACIONS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_LIA_FACT_LICITACIONS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Identificador",
						"type": "nvarchar"
					},
					{
						"name": "Link licitación",
						"type": "nvarchar"
					},
					{
						"name": "Fecha actualización",
						"type": "nvarchar"
					},
					{
						"name": "Vigente/Anulada/Archivada",
						"type": "nvarchar"
					},
					{
						"name": "Primera publicación",
						"type": "nvarchar"
					},
					{
						"name": "Estado",
						"type": "nvarchar"
					},
					{
						"name": "Número de expediente",
						"type": "nvarchar"
					},
					{
						"name": "Objeto del Contrato",
						"type": "nvarchar"
					},
					{
						"name": "Valor estimado del contrato",
						"type": "nvarchar"
					},
					{
						"name": "Presupuesto base sin impuestos",
						"type": "nvarchar"
					},
					{
						"name": "Presupuesto base con impuestos",
						"type": "nvarchar"
					},
					{
						"name": "CPV",
						"type": "nvarchar"
					},
					{
						"name": "Tipo de contrato",
						"type": "nvarchar"
					},
					{
						"name": "Lugar de ejecución",
						"type": "nvarchar"
					},
					{
						"name": "Órgano de Contratación",
						"type": "nvarchar"
					},
					{
						"name": "ID OC en PLACSP",
						"type": "nvarchar"
					},
					{
						"name": "NIF OC",
						"type": "nvarchar"
					},
					{
						"name": "DIR3",
						"type": "nvarchar"
					},
					{
						"name": "Enlace al Perfil de Contratante del OC",
						"type": "nvarchar"
					},
					{
						"name": "Tipo de Administración",
						"type": "nvarchar"
					},
					{
						"name": "Código Postal",
						"type": "nvarchar"
					},
					{
						"name": "Tipo de procedimiento",
						"type": "nvarchar"
					},
					{
						"name": "Sistema de contratación",
						"type": "nvarchar"
					},
					{
						"name": "Tramitación",
						"type": "nvarchar"
					},
					{
						"name": "Forma de presentación de la oferta",
						"type": "nvarchar"
					},
					{
						"name": "Fecha de presentación de ofertas",
						"type": "nvarchar"
					},
					{
						"name": "Fecha de presentación de solicitudes de participacion",
						"type": "nvarchar"
					},
					{
						"name": "Directiva de aplicación",
						"type": "nvarchar"
					},
					{
						"name": "Financiación Europea y fuente",
						"type": "nvarchar"
					},
					{
						"name": "Descripción de la financiación europea",
						"type": "nvarchar"
					},
					{
						"name": "Subcontratación permitida",
						"type": "nvarchar"
					},
					{
						"name": "Subcontratación permitida porcentaje",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "LIA_FACT_LICITACIONS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MINISTERI",
						"type": "nvarchar"
					},
					{
						"name": "COMUNIDAD AUTONOMA",
						"type": "nvarchar"
					},
					{
						"name": "COST TOTAL",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_AGR_CCAA_SP_ADMIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COMUNITAT AUTONOMA",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ANTERIOR",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+1",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+2",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+3",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_AGR_CCAA_SP_ADMIN"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_AGR_CCAA_SP_EMPR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COMUNITATS AUTONOMES",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ANTERIOR",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+1",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+2",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+3",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_AGR_CCAA_SP_EMPR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_AGR_RESUMEN_INVERSIONS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COMUNITAT_AUTONOMA",
						"type": "nvarchar"
					},
					{
						"name": "COST_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_EXC_PRESUPOSTARI",
						"type": "nvarchar"
					},
					{
						"name": "INVERSIO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_AGR_RESUMEN_INVERSIONS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_DET_EST_OOAA_RE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID_MINISTERI",
						"type": "nvarchar"
					},
					{
						"name": "DESC_MINISTERI",
						"type": "nvarchar"
					},
					{
						"name": "COMUNITAT_AUTONOMA",
						"type": "nvarchar"
					},
					{
						"name": "CODI_CENTRE",
						"type": "nvarchar"
					},
					{
						"name": "ID_PROGRAMA",
						"type": "nvarchar"
					},
					{
						"name": "ID_ARTICLE",
						"type": "nvarchar"
					},
					{
						"name": "DESC_CENTRE",
						"type": "nvarchar"
					},
					{
						"name": "ID_PROJECTE",
						"type": "nvarchar"
					},
					{
						"name": "NOM_PROJECTE",
						"type": "nvarchar"
					},
					{
						"name": "ANY_INICI",
						"type": "nvarchar"
					},
					{
						"name": "ANY_FI",
						"type": "nvarchar"
					},
					{
						"name": "PROVINCIA",
						"type": "nvarchar"
					},
					{
						"name": "TIPUS",
						"type": "nvarchar"
					},
					{
						"name": "COST_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ANTERIOR",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+1",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+2",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+3",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_DET_EST_OOAA_RE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_DET_SEGURETAT_SOCIAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Organisme",
						"type": "nvarchar"
					},
					{
						"name": "Programa",
						"type": "nvarchar"
					},
					{
						"name": "Article",
						"type": "nvarchar"
					},
					{
						"name": "Centre Tipus",
						"type": "nvarchar"
					},
					{
						"name": "Número",
						"type": "nvarchar"
					},
					{
						"name": "Denominació",
						"type": "nvarchar"
					},
					{
						"name": "Inici",
						"type": "nvarchar"
					},
					{
						"name": "Final",
						"type": "nvarchar"
					},
					{
						"name": "Import Total",
						"type": "nvarchar"
					},
					{
						"name": "ANY",
						"type": "nvarchar"
					},
					{
						"name": "ANY+1",
						"type": "nvarchar"
					},
					{
						"name": "ANY+2",
						"type": "nvarchar"
					},
					{
						"name": "ANY+3",
						"type": "nvarchar"
					},
					{
						"name": "Província",
						"type": "nvarchar"
					},
					{
						"name": "ID Entitat",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_DET_SEGURETAT_SOCIAL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_DET_SP_ADMIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COMUNITAT_AUTONOMA",
						"type": "nvarchar"
					},
					{
						"name": "PROVINCIA",
						"type": "nvarchar"
					},
					{
						"name": "ENTITAT",
						"type": "nvarchar"
					},
					{
						"name": "CODI PROJECTE",
						"type": "nvarchar"
					},
					{
						"name": "DENOMINACIO",
						"type": "nvarchar"
					},
					{
						"name": "COST TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "INICI",
						"type": "nvarchar"
					},
					{
						"name": "FI",
						"type": "nvarchar"
					},
					{
						"name": "TIPUS",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ANTERIOR",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+1",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+2",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+3",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_DET_SP_ADMIN"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRES_FACT_DET_SP_EMPR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_INV_ESTAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COMUNITAT_AUTONOMA",
						"type": "nvarchar"
					},
					{
						"name": "PROVINCIA",
						"type": "nvarchar"
					},
					{
						"name": "ENTITAT",
						"type": "nvarchar"
					},
					{
						"name": "CODI PROJECTE",
						"type": "nvarchar"
					},
					{
						"name": "DENOMINACIO",
						"type": "nvarchar"
					},
					{
						"name": "COST TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "INICI",
						"type": "nvarchar"
					},
					{
						"name": "FI",
						"type": "nvarchar"
					},
					{
						"name": "TIPUS",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ANTERIOR",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+1",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+2",
						"type": "nvarchar"
					},
					{
						"name": "ANY_ACTUAL+3",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "INV_STG",
					"table": "PRES_FACT_DET_SP_EMPR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XLSX_DIM_UNITATS_AGE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ORIGEN"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Unidades AGE V+T",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Listado Unidades AGE.xlsx",
						"container": "inversionsestat"
					},
					"range": "B2:C99999",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XLSX_LIA_FACT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Fitxer": {
						"type": "string"
					},
					"Tipo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ORIGEN"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Tipo",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Fitxer",
							"type": "Expression"
						},
						"container": "inversionsestat"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Identificador",
						"type": "String"
					},
					{
						"name": "Link licitación",
						"type": "String"
					},
					{
						"name": "Fecha actualización",
						"type": "String"
					},
					{
						"name": "Número de expediente",
						"type": "String"
					},
					{
						"name": "Lote",
						"type": "String"
					},
					{
						"name": "Objeto licitación/lote",
						"type": "String"
					},
					{
						"name": "Presupuesto base con impuestos licitación/lote",
						"type": "String"
					},
					{
						"name": "Presupuesto base sin impuestos licitación/lote",
						"type": "String"
					},
					{
						"name": "CPV licitación/lote",
						"type": "String"
					},
					{
						"name": "Lugar ejecución licitación/lote",
						"type": "String"
					},
					{
						"name": "Resultado licitación/lote",
						"type": "String"
					},
					{
						"name": "Fecha del acuerdo licitación/lote",
						"type": "String"
					},
					{
						"name": "Número de ofertas recibidas por licitación/lote",
						"type": "String"
					},
					{
						"name": "Precio de la oferta más baja por licitación/lote",
						"type": "String"
					},
					{
						"name": "Precio de la oferta más alta por licitación/lote",
						"type": "String"
					},
					{
						"name": "Se han excluído ofertas por ser anormalmente bajas por licitación/lote",
						"type": "String"
					},
					{
						"name": "Número del contrato licitación/lote",
						"type": "String"
					},
					{
						"name": "Fecha formalización del contrato licitación/lote",
						"type": "String"
					},
					{
						"name": "Fecha entrada en vigor del contrato de licitación/lote",
						"type": "String"
					},
					{
						"name": "Adjudicatario licitación/lote",
						"type": "String"
					},
					{
						"name": "Tipo de identificador de adjudicatario por licitación/lote",
						"type": "String"
					},
					{
						"name": "Identificador Adjudicatario de la licitación/lote",
						"type": "String"
					},
					{
						"name": "El adjudicatario es o no PYME de la licitación/lote",
						"type": "String"
					},
					{
						"name": "Importe adjudicación sin impuestos licitación/lote",
						"type": "String"
					},
					{
						"name": "Importe adjudicación con impuestos licitación/lote",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XLSX_LIA_FACT_LICITACIONS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Fitxer": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ORIGEN"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Licitaciones",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Fitxer",
							"type": "Expression"
						},
						"container": "inversionsestat"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Identificador",
						"type": "String"
					},
					{
						"name": "Link licitación",
						"type": "String"
					},
					{
						"name": "Fecha actualización",
						"type": "String"
					},
					{
						"name": "Vigente/Anulada/Archivada",
						"type": "String"
					},
					{
						"name": "Primera publicación",
						"type": "String"
					},
					{
						"name": "Estado",
						"type": "String"
					},
					{
						"name": "Número de expediente",
						"type": "String"
					},
					{
						"name": "Objeto del Contrato",
						"type": "String"
					},
					{
						"name": "Valor estimado del contrato",
						"type": "String"
					},
					{
						"name": "Presupuesto base sin impuestos",
						"type": "String"
					},
					{
						"name": "Presupuesto base con impuestos",
						"type": "String"
					},
					{
						"name": "CPV",
						"type": "String"
					},
					{
						"name": "Tipo de contrato",
						"type": "String"
					},
					{
						"name": "Lugar de ejecución",
						"type": "String"
					},
					{
						"name": "Órgano de Contratación",
						"type": "String"
					},
					{
						"name": "ID OC en PLACSP",
						"type": "String"
					},
					{
						"name": "NIF OC",
						"type": "String"
					},
					{
						"name": "DIR3",
						"type": "String"
					},
					{
						"name": "Enlace al Perfil de Contratante del OC",
						"type": "String"
					},
					{
						"name": "Tipo de Administración",
						"type": "String"
					},
					{
						"name": "Código Postal",
						"type": "String"
					},
					{
						"name": "Tipo de procedimiento",
						"type": "String"
					},
					{
						"name": "Sistema de contratación",
						"type": "String"
					},
					{
						"name": "Tramitación",
						"type": "String"
					},
					{
						"name": "Forma de presentación de la oferta",
						"type": "String"
					},
					{
						"name": "Fecha de presentación de ofertas",
						"type": "String"
					},
					{
						"name": "Fecha de presentación de solicitudes de participacion",
						"type": "String"
					},
					{
						"name": "Directiva de aplicación",
						"type": "String"
					},
					{
						"name": "Financiación Europea y fuente",
						"type": "String"
					},
					{
						"name": "Descripción de la financiación europea",
						"type": "String"
					},
					{
						"name": "Subcontratación permitida",
						"type": "String"
					},
					{
						"name": "Subcontratación permitida porcentaje",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FITXERS_LICITACIONS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "inversionsestat"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BORRADO_PROJECTES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Todos los registros que eliminen desde Power Apps se enviarán cada día a las tablas de borrado para que la PK no se vea afectada",
				"activities": [
					{
						"name": "PROJECTES CLAU A BORRATS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM INV_DM.DIM_PROJECTES_CLAU WHERE FLAG_ACTIVAT = 0",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODI_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CODI_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NOM_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NOM_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_TIPUS_PROJECTE_CLAU",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_TIPUS_PROJECTE_CLAU",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_SUBTIUPUS_PROJECTE_CLAU",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_SUBTIUPUS_PROJECTE_CLAU",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DESC_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QTY_INVERSIO_PREVISTA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										},
										"sink": {
											"name": "QTY_INVERSIO_PREVISTA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "DATA_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DATA_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMENTARI_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMENTARI_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DATA_POSADA_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DATA_POSADA_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMENTARI_POSADA_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMENTARI_POSADA_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_MUNICIPIS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_MUNICIPIS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMARQUES",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMARQUES",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_AMBITS_TERRITORIALS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_AMBITS_TERRITORIALS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMENTARI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMENTARI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_VINCLES_NOTES_PREMSA",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_VINCLES_NOTES_PREMSA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DIM_PROJECTES_CLAU",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DIM_PROJECTES_CLAU_BORRATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MACROPROJECTES A BORRATS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM INV_DM.DIM_MACROPROJECTES WHERE FLAG_ACTIVAT = 0",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_MACROPROJECTE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_MACROPROJECTE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NOM_MACROPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NOM_MACROPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DIM_MACROPROJECTES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DIM_MACROPROJECTES_BORRATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SUBPROJECTES A BORRATS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM INV_DM.DIM_SUBPROJECTES WHERE FLAG_ACTIVAT = 0",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_SUBPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ID_SUBPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NOM_SUBPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NOM_SUBPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QTY_INVERSIO_PREVISTA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										},
										"sink": {
											"name": "QTY_INVERSIO_PREVISTA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "DATA_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DATA_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMENTARI_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMENTARI_INICI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DATA_POSADA_EN_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DATA_POSADA_EN_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMENTARI_POSADA_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMENTARI_POSADA_SERVEI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMENTARI",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMENTARI",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CODI_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CODI_PROJECTE_CLAU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_MUNICIPIS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_MUNICIPIS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_COMARQUES",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_COMARQUES",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_AMBITS_TERRITORIALS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_AMBITS_TERRITORIALS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_VINCLES_NOTES_PREMSA",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_VINCLES_NOTES_PREMSA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESC_SUBPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESC_SUBPROJECTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DIM_SUBPROJECTES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DIM_SUBPROJECTES_BORRATS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SCRIPT BORRADO",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "PROJECTES CLAU A BORRATS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "MACROPROJECTES A BORRATS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SUBPROJECTES A BORRATS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "BD_INV_ESTAT",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DELETE FROM INV_DM.DIM_PROJECTES_CLAU WHERE FLAG_ACTIVAT = 0\nDELETE FROM INV_DM.DIM_MACROPROJECTES WHERE FLAG_ACTIVAT = 0\nDELETE FROM INV_DM.DIM_SUBPROJECTES WHERE FLAG_ACTIVAT = 0"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_EXEC_PRESSUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_EXEC_FACT_DET_AGE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_DET_AGE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_DET_AGE",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_DET_AGE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_DET_OOAA_RE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_DET_OOAA_RE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_DET_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_DET_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_DET_SP_ADMIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_DET_SP_ADMIN]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_DET_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_DET_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_DET_SP_EMPR",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_DET_SP_EMPR]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_DET_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_DET_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_AGR_CCAA_AGE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_AGR_CCAA_AGE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_AGR_CCAA_AGE",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_AGE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_AGR_CCAA_OOAA_RE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_AGR_CCAA_OOAA_RE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_AGR_CCAA_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_AGR_CCAA_SP_ADMIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_AGR_CCAA_SP_ADMIN]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_EXEC_FACT_AGR_CCAA_SP_EMPR",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[EXEC_FACT_AGR_CCAA_SP_EMPR]\n",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_EXEC_FACT_AGR_CCAA_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EXEC_FACT_AGR_CCAA_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Data_Any_Carrega": {
						"type": "string",
						"defaultValue": "2022"
					}
				},
				"folder": {
					"name": "ÀMBIT EXECUCIÓ PRESSUPOSTARIA"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STG_EXEC_FACT_DET_OOAA_RE')]",
				"[concat(variables('factoryId'), '/datasets/STG_EXEC_FACT_DET_SP_ADMIN')]",
				"[concat(variables('factoryId'), '/datasets/STG_EXEC_FACT_DET_SP_EMPR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_PRESSUPOST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STG_PRES_FACT_DET_EST_OOAA_RE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_DET_EST_OOAA_RE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_DET_EST_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_DET_EST_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_AGR_RESUMEN_INVERSIONS",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_AGR_RESUMEN_INVERSIONS]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_AGR_RESUMEN_INVERSIONS",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_AGR_RESUMEN_INVERSIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_AGR_CCAA_SP_ADMIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_AGR_CCAA_SP_ADMIN]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_AGR_CCAA_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_AGR_CCAA_SP_EMPR",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_AGR_CCAA_SP_EMPR]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_AGR_CCAA_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_AGR_CCAA_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_DET_SP_ADMIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_DET_SP_ADMIN]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_DET_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_DET_SP_ADMIN",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_DET_SP_EMPR",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_DET_SP_EMPR]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_DET_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_DET_SP_EMPR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STG_PRES_FACT_DET_SEGURETAT_SOCIAL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [INV_STG].[PRES_FACT_DET_SEGURETAT_SOCIAL]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_PRES_FACT_DET_SEGURETAT_SOCIAL",
								"type": "DatasetReference",
								"parameters": {
									"Any": {
										"value": "@pipeline().parameters.Data_Any_Carrega",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_PRES_FACT_DET_SEGURETAT_SOCIAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Data_Any_Carrega": {
						"type": "string",
						"defaultValue": "2021"
					}
				},
				"folder": {
					"name": "ÀMBIT PRESSUPOST"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-17T09:42:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_DET_EST_OOAA_RE')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_AGR_RESUMEN_INVERSIONS')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_AGR_CCAA_SP_ADMIN')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_AGR_CCAA_SP_EMPR')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_AGR_CCAA_MIN_EST_OOAA_RE')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_DET_SP_ADMIN')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_DET_SP_EMPR')]",
				"[concat(variables('factoryId'), '/datasets/STG_PRES_FACT_DET_SEGURETAT_SOCIAL')]"
			]
		}
	]
}